<div class="border border-blue-100 rounded-lg p-4 mb-3">
  
  <!-- En-tête critère -->
  <div class="flex justify-between items-center mb-3">
    <p class="font-semibold"
    [class.text-emerald-400]="pourcentage() !== null && pourcentage()! >= 60"
    [class.text-red-400]="pourcentage() !== null && pourcentage()! < 60"
    [class.text-blue-100]="pourcentage() === null">
        {{ critere().titre }}
    </p>
    <span class="text-sm" 
        [class.text-emerald-400]="pourcentage() !== null && pourcentage()! >= 60"
        [class.text-red-400]="pourcentage() !== null && pourcentage()! < 60"
        [class.text-blue-100]="pourcentage() === null">
      {{ niveauChoisi() !== null ? (pointsAjustes() ?? critere().niveaux[niveauChoisi()!].points) : '—' }}
      / {{ critere().niveaux[0].points }} pts
    </span>
  </div>
  <p class="text-blue-100 mb-3">{{critere().description}}</p>

  <!-- Sélection du niveau -->
  <div class="flex gap-2 flex-wrap mb-3">
    @for (niveau of critere().niveaux; track $index) {
      <button type="button"
        class="border-2 px-3 py-2 rounded-md text-sm transition-colors
         flex-1 flex flex-col text-left min-h-40"
        [class.border-blue-800]="niveauChoisi() === $index"
        [class.bg-blue-800]="niveauChoisi() === $index"
        [class.text-white]="niveauChoisi() === $index"
        [class.border-(--border-grey)]="niveauChoisi() !== $index"
        [class.text-blue-100]="niveauChoisi() !== $index"
        (click)="choisirNiveau($index)">
        <span class="font-semibold mb-2">{{ niveau.label }}</span>
        <span class="mb-auto">{{ niveau.description }}</span>
        <span class="text-xs opacity-70">{{ niveau.points }} pts</span>
      </button>
    }
    @if (niveauChoisi() !== null) {
    <div class="flex items-center gap-3 mb-3 p-2 rounded-md border border-(--border-grey) bg-(--input-bg)/50">
        
        <span class="text-blue-100/70 text-sm">Points :</span>
        
        <input
        type="number"
        step="0.1"
        [min]="0"
        [max]="critere().niveaux[0].points"
        [value]="pointsAjustes()"
        (input)="pointsAjustes.set(+$any($event.target).value)"
        (blur)="sauvegarder()"
        class="w-20 border border-(--border-grey) rounded-md bg-(--input-bg) text-white text-sm px-2 py-1 text-center" />
        
        <span class="text-blue-100/70 text-sm">/ {{ critere().niveaux[0].points }} pts</span>    

    </div>
    }

  </div>

  <!-- Commentaire -->
  <textarea
    class="w-full border border-(--border-grey) rounded-md bg-(--input-bg) text-white text-sm px-2 py-1"
    rows="2"
    placeholder="Commentaire pour ce critère..."
    [value]="commentaire()"
    (input)="commentaire.set($any($event.target).value)"
    (blur)="sauvegarder()">
  </textarea>  

</div>