/* You can add global styles to this file, and also import other style files */

@import 'tailwindcss';
@source "../src";

:root{
    --border-grey: #374151;
    --form-bg: #1f2937;
    --input-bg: #111827;
    --button-bg: #2c3e7a;
}

body {
    background-color: #111827;
}

.neon-green {
  @apply border-green-400;
  box-shadow:
    0 0 15px rgba(74,222,128,0.7),
    inset 0 0 15px rgba(74,222,128,0.5);
}

.neon-red {
  @apply border-red-400;
  box-shadow:
    0 0 15px rgba(248,113,113,0.7),
    inset 0 0 15px rgba(248,113,113,0.5);
}

.neon-blue {
  @apply border-blue-400;
  box-shadow:
    0 0 15px rgba(113, 185, 248, 0.7),
    inset 0 0 15px rgba(113, 169, 248, 0.5);
}

.neon-blue-glow {
  box-shadow:
    0 0 15px rgba(113, 185, 248, 0.7),
    inset 0 0 15px rgba(113, 169, 248, 0.5);
}